/* -------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #525252;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}
/*--------------  nav-bar --------------*/
nav ion-icon{
    color:  #525252;
    font-size: 24px;
}
.navbar-ul-list-container{
    width: 85%;
}
.navbar-ul-list{
    list-style: none;
    float: right;
    margin-top: 10px;
}

.navbar-list{
    text-transform: uppercase;
    margin-left: 10px;
}
.navbar-list a:link,
.navbar-list a:visited{
    text-decoration: none;
    color: #525252;
    transition: color 0.2s;
}

.navbar-list a:hover,
.navbar-list a:active{
    color:  rgb(189, 79, 79);
}

.nav-item{
    margin-bottom: 5px;
}

.nav-item a:link,
.nav-item a:visited{
    text-decoration: none;
    color: #525252;
    transition: color 0.2s;
}

.nav-item a:hover,
.nav-item a:active{
    color:rgb(189, 79, 79);
}

/*-------------- Home & Search Bar --------------*/
.title-container ion-icon{
    color: rgb(189, 79, 79);
}
.title-container{
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 70px;
}

.search-bar-container{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.search-bar-label{
    text-transform: uppercase;
    margin-right: 25px;
    font-size: 17px;
    font-weight: 400;
}

#cur-search-for,
#cur-search-by,
#cur-search-input{
    margin-right: 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
}

#search-btn{
    text-transform: uppercase;
    font: 'Lato';
    font-weight: 400;
    border-radius: 50px;
    padding: 5px 20px;
    background-color: #f4f4f4;
}

#search-btn:hover,
#search-btn:active{
    background-color: #aa3a3a;
    color:  #f4f4f4;
}

/*-------------- About Page -------------*/

.about-container{
    height: 900px;
    width: 80%;
}

.about-heading{
    margin: 60px 50px 50px 50px;
}

.about-p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

/*-------------- Contact Page -------------*/
.contact-container{
    height: 1100px;
    width: 100%;
}
.contact-heading{
    margin-bottom: 50px;
    margin-top: 30px;
}

.map-aqi{
    font-weight: 400;
}

/*-------------- User Profile -------------*/
.greeting-section{
    text-align: center;
}

.user-info-section{
    text-align: center;
}
.user-info-container{
    display: inline-block;
    width: 40%;
    height: 200px;
    border: 1px solid #d0d0d0;
    text-align: center;
    margin-left: 5%;
    margin-top: 100px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
}
.middle-section{
    text-align: center;
}
.user-uvi-container{
    display: inline-block;
    width: 40%;
    height: 500px;
    border: 1px solid #d0d0d0;
    text-align: center;
    margin-top: 100px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
}

.user-aqi-container{
    display: inline-block;
    width: 40%;
    height: 500px;
    border: 1px solid #d0d0d0;
    text-align: center;
    margin-top: 100px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
}
.user-air-forecast-container{
    width: 80%;
    height: 70%;
    border: 1px solid #d0d0d0;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
    display: inline-block;
}

/*--------------  AQI chart -------------*/
.air-qual-idx-img-container{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.air-qual-index-img{
    width: 60%;
    height: auto;
    margin-top: 0;
    padding-top: 0;
}

/*--------------  UVI widget--------------*/
.uvi-container{
    display: inline-block;
    width: 40%;
    height: 500px;
    border: 1px solid #d0d0d0;
    text-align: center;
    margin-left: 5%;
    margin-top: 180px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
    
}

.uv-img{
    width: 50%;
    height: auto;
}

/*--------------  AQI widget--------------*/
.aqi-container{
    display: inline-block;
    width: 40%;
    height: 500px;
    border: 1px solid #d0d0d0;
    text-align: center;
    margin-left: 10%;
    margin-top: 180px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
}

.aqi-img{
    width: 50%;
    height: auto;
}

.small-widgets{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size:22px;
}

.aqi-today{
    font-size:20px;
    font-weight: 300;
}

.uvi-level,
.aqi-level{
    font-weight: 400;
}

.index{
    font-weight: 400;
}

/*--------------  Air Forecast widget--------------*/
.air-forecast-section{
    height: 90%;
    width: 100%;
}

.air-forecast-container{
    width: 80%;
    height: 60%;
    border: 1px solid #d0d0d0;
    margin-left: 10%;
    margin-top: 170px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
    display: inline-block;
}
.air-forecast-h{
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.date-container{
    text-align: center;
}

.air-forecast-daily{
    width: 29%;
    margin-left: 4%;
    margin-bottom: 5%;
    display: inline-block;
    font-size: 9px;
}
.air-forecast-date{
    padding-right: 7%;
    font-size: 17px;
}
.air-forecast-img{
    width: 15%;
    height: auto;
}

.air-forecast-label{
    font-weight: 400;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.air-type{
    margin-right: 10px;
}

.air-level{
    font-weight: 400;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

/*-------------- World AQI --------------*/
#mutiple-city-aqi{
    text-align: center;
    width: 80%;
    height: 400px;
    border: 1px solid #d0d0d0;
    margin-left: 10%;
    margin-top: 150px;
    margin-bottom: 250px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 2px #747272;
    vertical-align: middle;
}
.each-city-aqi{
    display: inline-block;
    font-size: 20px;
    margin: 30px 20px 30px 20px;
}

.global-aqi-heading{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#global-aqi-container{
    vertical-align: middle;
}

#details-aqi-popup-0 {
    font: 'Lato';
    margin-left: 10px;
    margin-right: 10px;
}

#details-aqi-popup-1 {
    font: 'Lato';
    margin-right: 10px;
}

#details-aqi-popup-2 {
    font: 'Lato';
    margin-right: 10px;
}

#details-aqi-popup-3 {
    font: 'Lato';
    margin-right: 10px;
}

#details-aqi-popup-4 {
    font: 'Lato';
    margin-right: 10px;
}
/*-------------- Map --------------*/
/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map-container {
    height: 70%;
    width: 100%;
}
    
.navbar-list {
    display: inline-block;
    text-decoration: none;
}

.navbar-ul-list {
    float: right;
    list-style: none;
}


/*--------------  Toggle Switch on Profile --------------*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #8ec921;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #8ec921;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}



/*--------------  footer --------------*/
footer {
    background-color: #333333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    float: left;
    list-style: none;
}

.social-links {
    float: right;
    list-style: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border-bottom: 0;
    color: #808080;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #d0d0d0;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-instagram:hover {
    color: #bc2a8d;
}
footer p {
    text-align: center;
    margin-top: 20px;
    color: #808080; 
}