{% extends 'base.html' %}
    {% block title %}Flag Red{% endblock %}

    {% block head %}
        <script src="/static/js/test.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="/static/js/maps.js"></script>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcPj2Lex4W5AXEhwsPQ02lAG8Axsn2hQg&callback=initMap"
        defer
        ></script>

        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% endblock %}

    {% block body %}
        <label>Fleg Red</label>
        <div>
            <button class="search-type-button" id="active-fire-button">Active Fire</button>
            <button class="search-type-button" id="past-fire-button">Past Fires</button> 
        </div>

        <div class="container" id="active-fire-search"></div>
        <div class="container-fluid" id="past-fire-search"></div>

       
        <!-- Fire Map -->
       
        <h3>Active Fires</h3>
        {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }}
        </p>
        {% endfor %}
        <div id="fire-map"></div>
     
        <!-- Air Quality Map -->
        <h3>Air Quality and Pollution</h3>
        <div id="airquality-map"></div>
      

        

    {% endblock %}

